#container { 
  position: relative;
}

#frameView {
  border: 1px solid #000;
}

#top-buttons-container {
  display: block;
}

#bottom-buttons-container {
  display: block;
}

h4 {
  display: inline;
}

