#container { 
  position: relative;
}

#frameView {
  border: 1px solid #000;
}

#top-buttons-container {
  display: block;
  width: 400px;
}

#bottom-buttons-container {
  display: block;
  width: 400px;
}

#frames-saved-div {
  float: right;
}

#resetButton {
  float:right;
}

